@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Book>

<h1>This is A Book Store</h1>
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>ISBN</th>
            <th>Classification</th>
            <th>Category</th>
            <th>Number of Pages</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Book b in Model)
        {
           <partial name="BookSummaryPartial" model ="b" />
        }
    </tbody>

</table>

<!-- Pagination Controls -->
<nav aria-label="Page navigation example">
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
            </li>
        }
    </ul>
</nav>

   
